<p>Hello, <%= user.name %></p>
<form method="GET">
    <button formaction="/members" type="submit">Go to Members Area</button><br>
    <button formaction="/logout" type="submit">Logout</button>
</form>