<p>Login</p>
<form method="POST" action="login">
    <input type="email" placeholder="Email" name="email" required><br>
    <input type="password" placeholder="Password" name="password" required><br>
    <button type="submit">Submit</button>
</form>

<% if (error.name != undefined) { %>
    <p>Incorrect <%= error.name %></p>
<% }; %>